<h1>All Posts</h1>
<%= @posts.each do |post| %>
  <div class="media">
    <div class="media-body">
      <h4 class="media-heading">
<!-- the link_to method will detect the object, parse its id, and creat the path using the id.  we do not need (post_path(post.id)) stated explicitly -->
        <p><%= link_to post.title, post %></p>
      </h4>
    </div>
  </div>
<% end %>